<script lang="ts">
	import TagSelectWidget from "../TagSelectWidget.svelte";

	export let negTags: string[] = [];
	export let posTags: string[] = [];
	export let categories: { [key: string]: string[] };
	export let tagData: { [key: string]: string };

	let tagWidget: TagSelectWidget;

	function updateFilters() {
		const [neg, pos] = tagWidget.getTags();
		document.cookie = `filters=${neg.join(",")}|${pos.join(
			","
		)}; Path=/; Max-Age=2147483647`;
		location.reload();
	}
</script>

<h1>site-wide filters</h1>
<p>
	You won't see games with any tag in the "excluded tags" list, and you will
	only see games with all tags in the "required tags" list. Filters don't
	apply on user pages, and can be toggled in search.
</p>
<TagSelectWidget
	descriptor="Your desired game"
	modes={[
		["excluded tags", "red"],
		["required tags", "green"],
	]}
	initialSelectedTags={[negTags, posTags]}
	{categories}
	{tagData}
	bind:this={tagWidget}
/>

<div>
	<button id="save" on:click={updateFilters}>save filters</button>
</div>
<div>
	<p class="unimportant">
		Note: By confirming and saving the settings you accept the use of
		cookies to store your preferences.
	</p>
</div>