<script lang="ts">
	import type { IUser, TabList } from "~/types";
	import DangerZone from "./DangerZone.svelte";
	import SiteFilters from "./SiteFilters.svelte";
	import TabbedMenu from "../TabbedMenu.svelte";
	import Themes from "./Themes.svelte";
	import UserManager from "./UserManager.svelte";

	export let loggedIn: boolean;
	export let user: IUser;
	export let isUnderage: boolean;

	// SiteFilters
	export let negTags: string[] = [];
	export let posTags: string[] = [];
	export let categories: { [key: string]: string[] };
	export let tagData: { [key: string]: string };

	const tabs: TabList = [
		...(loggedIn && !isUnderage
			? ([["my account", "ic:baseline-person", ""]] as [
					string,
					string,
					string,
				][])
			: []),
		...(loggedIn
			? ([
				// ["flairs", "mdi:creation"],
				["danger zone", "ic:baseline-warning", "danger"],
			] as [string, string, string][])
			: []),
		["theme picker", "ic:baseline-format-paint", "themes"],
		["site-wide filters", "mdi:filter", "filters"]
	];

	let activeTab = tabs[0][0];
	const formTabs = ["filters"];
</script>

<TabbedMenu
	title="preferences"
	{tabs}
	form={formTabs.includes(activeTab)}
	bind:activeTab
>
	{#if activeTab === "my account"}
		<UserManager {user} />
	{:else if activeTab === "danger zone"}
		<DangerZone />
	{:else if activeTab === "site-wide filters"}
		<SiteFilters {categories} {tagData} {negTags} {posTags} />
	{/if}

	<!-- Theme displaying is done a little obtusely because
		the themes page loads like 12 iframes. Doing it like
		this basically just lets us ""cache"" those iframes
		so you don't DoS galaxy if you switch tabs a lot -->
	<div
		class="form"
		style="display: {activeTab === 'theme picker' ? 'block' : 'none'}"
	>
		<Themes />
	</div>
</TabbedMenu>
