---
import Layout from "~/layouts/Layout.astro";
import StandaloneChat from "~/components/StandaloneChat.svelte";
import { astroUnder13 } from "~/helper/coppa";
import { hasStaffPerm } from "~/helper/adminHelper";

if (astroUnder13(Astro)) return Astro.redirect("/");

const { user, loggedIn, needsVerification } = Astro.locals.auth;

const start = Astro.url.pathname.split("/")[2] || "limbo";
---

<Layout
	title="chat - galaxy"
	showFooter={false}
	user={{ user, loggedIn, needsVerification }}
>
	<main>
		<StandaloneChat
			userId={user?.id}
			channel={start}
			isSiteStaff={hasStaffPerm(user?.modLevel, "mod")}
			client:only="svelte"
		/>
	</main>
</Layout>
