<script lang="ts" context="module">
	export type DTSchema = {
		name: string;
		type?: string;
	};
</script>

<script lang="ts">
	import type { AdminOps } from "~/helper/adminHelper";
	import type { IUser } from "~/types";
	import Icon from "@iconify/svelte";
	import Pfp from "../Pfp.svelte";

	export let data: IUser | string = "";
	export let adminOps: AdminOps | null = null;
</script>

<span class="admin-user-card">
	{#if typeof data == "object"}
		<Pfp
			userId={data.id}
			pfpTimestamp={data.pfpTimestamp}
			size="small"
			inline
		/>
		{data.name}
		<span class="unimportant tnum">{data.id}</span>
	{:else}
		<span class="unimportant">{data}</span>
	{/if}
</span>
{#if adminOps && typeof data == "object"}
	&nbsp;
	<button
		class="icon-button"
		on:click={() => adminOps.addModal("user", adminOps.getUser(data.id))}
		aria-label="Open users"
	>
		<Icon icon="mdi:external-link" width="16" inline />
	</button>
{/if}

<style>
	.admin-user-card :global(.profile-pic) {
		width: 16px;
		aspect-ratio: 1;
	}
</style>