<script lang="ts">
	import Icon from "@iconify/svelte";

	export let page: number;
	export let pageCount: number;
	export let setPage: (page: number) => void;
</script>

<div class="feed-pagination">
	{#if page > 2}
		<button on:click={() => setPage(1)}>
			{1} <Icon icon="material-symbols:keyboard-double-arrow-left" />
		</button>
	{/if}
	{#if page > 1}
		<button on:click={() => setPage(page - 1)}>
			{page - 1} <Icon icon="material-symbols:keyboard-arrow-left" />
		</button>
	{/if}
	<button on:click={() => setPage(page)}>
		<b>{page}</b> <Icon icon="material-symbols:refresh" />
	</button>
	{#if page < pageCount}
		<button on:click={() => setPage(page + 1)}>
			{page + 1} <Icon icon="material-symbols:keyboard-arrow-right" />
		</button>
	{/if}
	{#if page < pageCount - 1}
		<button on:click={() => setPage(pageCount)}>
			{pageCount} <Icon icon="material-symbols:keyboard-double-arrow-right" />
		</button>
	{/if}
</div>

<style>
	.feed-pagination {
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		height: calc(1.15em + 20px);
		align-items: center;
		padding-inline: 5px;
		gap: 5px;
	}
	
	.feed-pagination > button {
		margin: 0;
		border-radius: 9999px;
	}
	.feed-pagination > button:hover {
		text-decoration: none;
	}
</style>
