<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import type { IStaffNote } from "~/types";
	import { formatDate } from "~/helper/format";

	export let id: string;
	export let adminOps: AdminOps;

	let note: IStaffNote | false | null = null;

	function createNote() {
		const time = new Date();
		note = {
			content: "",
			id,
			authors: [adminOps.self.id],
			createdAt: time,
			updatedAt: time,
		} as IStaffNote;
	}

	async function updateNote() {
		await post("/api/admin/edit/note", note);
		alert.success("Note updated");
	}

	function getAuthors() {
		if (typeof note !== "object") return "[you should never see this]";

		return note.authors
			.map(id => {
				const user = adminOps.getUser(id);
				if (typeof user === "string") return user;
				return user.name;
			})
			.join(", ");
	}

	function getTimeString() {
		if (typeof note !== "object") return "[you should never see this]";

		const createdFormatted = formatDate(new Date(note.createdAt));
		const updatedFormatted = formatDate(new Date(note.updatedAt));
		if (createdFormatted === updatedFormatted)
			return `created ${formatDate(new Date(note.createdAt))}`;
		return `created ${formatDate(
			new Date(note.createdAt)
		)}, last updated ${formatDate(new Date(note.updatedAt))}`;
	}

	async function queryNote() {
		const { data: noteRes } = await post("/api/admin/query/note", id);
		if (noteRes === null) note = false;
		else note = noteRes;
	}

	queryNote();
</script>

{#if note === false}
	<i>no note found.</i>
	<br />
	<button on:click={createNote}>create new note</button>
{:else if note === null}
	<i>loading...</i>
{:else}
	<textarea bind:value={note.content} placeholder="what's up?"></textarea>
	<i>note by {getAuthors()}</i><br />
	{getTimeString()}<br />
	<button on:click={updateNote}>update note</button>
{/if}

<style>
	textarea {
		background: var(--background-1);
		width: 100%;
		height: 150px;
	}
</style>
