<script lang="ts">
	import Chat from "../Chat.svelte";
	import type { IGame, IUser } from "~/types";

	export let game: IGame;
	export let userId: number;
	export let isStaff: boolean;

	// let chatEverOpened = true;
	// let chatOpen
	const chatChannel = game.chatEnabled ? `game-${game.id}` : "general";
</script>

<div class="grid-sidebar-wrapper">
	<div class="grid-sidebar-chat">
		<Chat channel={chatChannel} {userId} isSiteStaff={isStaff} />
	</div>
</div>

<style>
	.grid-sidebar-wrapper {
		display: grid;
		grid-template-rows: 1fr;
		height: 100%;
	}

	.grid-sidebar-chat {
		position: relative;
	}
</style>
