<script lang="ts">
	export let changeMode: (string) => void;
</script>

<div>
	<p class="selector-flair-text">where would you like to go?</p>
	<div class="selector-options">
		<button on:click={() => changeMode("chat")}>
			<b>chat</b><br />
			<p>talk to other users on galaxy</p>
		</button>
		<button on:click={() => changeMode("saves")}>
			<b>cloud saves</b><br />
			<p>save this game's progress in the cloud</p>
		</button>
		<button on:click={() => changeMode("tweaks")}>
			<b>game tweaks</b><br />
			<p>change the way the game looks</p>
		</button>
	</div>
</div>

<style>
	.selector-flair-text {
		margin: 8px;
		text-align: center;
	}

	.selector-options {
		display: grid;
		height: 240px;
		grid-template-rows: repeat(1fr 3);
	}

	.selector-options button {
		text-align: left;
		height: unset;
		margin: 2px;
		text-decoration: none !important;
		padding: 10px;
	}

	.selector-options button b {
		font-size: 18px;
	}

	.selector-options button p {
		margin: 0;
		line-height: 20px;
		color: var(--color-2);
	}
</style>
