<script lang="ts">
	import {
		tweaks_autoExpand,
		tweaks_brightness,
		tweaks_contrast,
		tweaks_dontLoad,
		tweaks_preventThrottling,
		tweaks_hideHeader,
		tweaks_hueRotate,
		tweaks_saturate,
		tweaks_sepia,
		tweaks_unloadOnOriginal,
		tweaks_zoom,
	} from "./modiStore";
	import Icon from "@iconify/svelte";
	// import type { IGame } from "~/types";

	// export let game: IGame;
	let filtersVisible: bool = false;

	// The auto-formatter did this to me
	const ZOOM_LEVELS = [
		0.1,
		0.15,
		0.2,
		0.3,
		0.4,
		0.5,
		2 / 3,
		0.75,
		0.8,
		0.9,
		1,
		1.1,
		1.2,
		1.3,
		1.4,
		1.5,
		1.7,
		2,
		2.4,
		3,
		5,
		8,
		10,
	];

	function findZoomIdx() {
		return ZOOM_LEVELS.findIndex(n => $tweaks_zoom <= n);
	}

	function manipZoom(change: number) {
		let zoom = $tweaks_zoom;

		if (change === 0) zoom = 1;
		else {
			let zoomIdx = findZoomIdx();
			if (change === -1) zoomIdx--;
			else if (change === 1) zoomIdx++;
			zoomIdx = Math.max(Math.min(ZOOM_LEVELS.length - 1, zoomIdx), 0);
			zoom = ZOOM_LEVELS[zoomIdx];
		}
		// else if (change < 1) zoom = Math.max(Math.min(Math.round(zoom * change * 10) / 10, zoom - 0.1), zoom > 1 ? 1 : 0.1);
		// else if (change > 1) zoom = Math.min(Math.max(Math.round(zoom * change * 10) / 10, zoom + 0.1), zoom < 1 ? 1 : 10);

		tweaks_zoom.set(zoom);
	}

	function toggleInvert() {
		tweaks_contrast.set(-$tweaks_contrast);
	}

	function toggleInvertHS() {
		tweaks_hueRotate.set(($tweaks_hueRotate + 180) % 360);
	}

	function toggleFilters() {
		filtersVisible = !filtersVisible;
	}
</script>

<div>
	<h3>site tweaks</h3>
	<div class="tweak-section checkboxes">
		<div>
			<input
				type="checkbox"
				id="auto-expand"
				bind:checked={$tweaks_autoExpand}
			/>
			<label for="auto-expand"> auto-expand games </label>
		</div>
		<div>
			<input
				type="checkbox"
				id="hide-header"
				bind:checked={$tweaks_hideHeader}
			/>
			<label for="hide-header"> hide header when expanded </label>
		</div>
		<div>
			<input
				type="checkbox"
				id="dont-load"
				bind:checked={$tweaks_dontLoad}
			/>
			<label for="dont-load"> don't auto-load games </label>
		</div>
		<div>
			<input
				type="checkbox"
				id="unload-on-original"
				bind:checked={$tweaks_unloadOnOriginal}
			/>
			<label for="unload-on-original">
				unload games after opening original
			</label>
		</div>
	</div>
	<hr />
	<h3>game tweaks</h3>
	<div class="tweak-section checkboxes">
		<div>
			<input
				type="checkbox"
				id="prevent-throttling"
				bind:checked={$tweaks_preventThrottling}
			/>
			<label for="prevent-throttling">
				prevent tab throttling <small class="unimportant"><i>(experimental)</i></small><br>
				<small class="unimportant"><i>(only works on chromium-based browsers)</i></small>
			</label>
		</div>
	</div>
	<div class="tweak-section">
		<div class="button-flex">
			<button on:click={() => manipZoom(-1)}>
				<Icon icon="material-symbols:zoom-out" width="18" inline />
			</button>
			<button on:click={() => manipZoom(0)} class="button-flex-3">
				{($tweaks_zoom * 100).toFixed(0)}%
			</button>
			<button on:click={() => manipZoom(1)}>
				<Icon icon="material-symbols:zoom-in" width="18" inline />
			</button>
		</div>
		<div class="button-flex" style="margin-bottom: 8px">
			<button on:click={toggleInvert} class="button-flex-3">invert</button
			>
			<button on:click={toggleInvertHS}>flip hue</button>
		</div>
		<div class="button-flex" style="margin-bottom: 8px">
			<button on:click={toggleFilters}>{filtersVisible ? "hide filters" : "show filters"}</button>
		</div>

		{#if filtersVisible}
			<b>{($tweaks_brightness * 100).toFixed(0)}% brightness</b>
			<input
				type="range"
				id="tweak-brightness"
				step="0.1"
				max="3"
				min="0.1"
				bind:value={$tweaks_brightness}
			/>
			<b>{$tweaks_contrast}% contrast</b>
			<input
				type="range"
				id="tweak-contrast"
				step="10"
				max="200"
				min="-200"
				bind:value={$tweaks_contrast}
			/>
			<b>{$tweaks_hueRotate}&deg; hue shift</b>
			<input
				type="range"
				id="tweak-hue"
				step="5"
				max="360"
				bind:value={$tweaks_hueRotate}
			/>
			<b>{$tweaks_saturate}% saturation</b>
			<input
				type="range"
				id="tweak-saturation"
				step="10"
				max="300"
				bind:value={$tweaks_saturate}
			/>
			<b>{$tweaks_sepia}% sepia</b>
			<input
				type="range"
				id="tweak-sepia"
				step="5"
				max="100"
				bind:value={$tweaks_sepia}
			/>
		{/if}
	</div>
	<hr />
	<p class="unimportant" style="margin: 8px; text-align: center">
		these settings are saved in your browser
	</p>
</div>

<style>
	h3 {
		text-align: center;
	}

	.tweak-section {
		margin: 10px 0;
	}

	.tweak-section.checkboxes > div {
		margin-left: 10px;
		width: calc(100% - 20px);
		display: flex;
		align-items: center;
	}

	/* .tweak-section p {
		margin: 0;
	} */

	.tweak-section b {
		text-align: center;
		display: block;
	}

	.button-flex {
		margin-inline: 10px;
		display: flex;
	}

	.button-flex button {
		flex: 1;
	}

	.button-flex .button-flex-3 {
		flex: 3;
	}

	.active {
		color: var(--color-active-0);
		background: var(--background-active-5);
	}

	input[type="range"] {
		width: calc(100% - 24px);
		margin: 0;
		--track-bg: var(--background-3);
	}

	input[type="range"]::-webkit-slider-runnable-track {
		appearance: none;

		height: 16px;
		border-radius: 8px;

		background: var(--track-bg);
		box-shadow: inset 0px 2px 4px #0007;
	}

	input[type="range"]::-moz-range-track {
		appearance: none;

		height: 16px;
		border-radius: 8px;

		background: var(--track-bg);
		box-shadow: inset 0px 2px 4px #0007;
	}

	input[type="range"]::-webkit-slider-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border: 1px solid var(--color-active-1);
		outline: 4px solid var(--slider-thumb-color);
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.5);
		filter: drop-shadow(0px 0px 4px #0007);
	}

	input[type="range"]::-moz-range-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border: 1px solid var(--color-active-1);
		outline: 4px solid var(--slider-thumb-color);
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.5);
		filter: drop-shadow(0px 0px 4px #0007);
	}

	#tweak-brightness {
		--track-bg: radial-gradient(var(--background-0) 30%, #0000 30.1%) 31.03%
				50% / 18px 18px no-repeat,
			radial-gradient(var(--color-0) 40%, #0000 40.1%) 31.03% 50% / 18px
				18px no-repeat,
			linear-gradient(90deg, hsl(0, 0%, 10%), white 31.03%) 0 0 / 100% 50%
				no-repeat,
			linear-gradient(90deg, hsl(0, 0%, 10%), white) 0 100% / 100% 50%
				no-repeat;
	}

	#tweak-contrast {
		--track-bg: radial-gradient(var(--background-0) 30%, #0000 30.1%) 75%
				50% / 18px 18px no-repeat,
			radial-gradient(var(--color-0) 40%, #0000 40.1%) 75% 50% / 18px 18px
				no-repeat,
			linear-gradient(90deg, black 25%, white 75%) 0 0 / 100% 50%
				no-repeat,
			linear-gradient(90deg, #0ff, #f00) 0 100% / 100% 50% no-repeat;
	}

	#tweak-hue {
		--track-bg: radial-gradient(var(--background-0) 30%, #0000 30.1%) 0% 50% /
				18px 18px no-repeat,
			radial-gradient(var(--color-0) 40%, #0000 40.1%) 0% 50% / 18px 18px
				no-repeat,
			linear-gradient(
				90deg,
				hsl(0, 100%, 50%),
				hsl(60, 100%, 50%),
				hsl(120, 100%, 50%),
				hsl(180, 100%, 50%),
				hsl(240, 100%, 50%),
				hsl(300, 100%, 50%),
				hsl(360, 100%, 50%)
			);
	}

	#tweak-saturation {
		--track-bg: radial-gradient(var(--background-0) 30%, #0000 30.1%) 33.3%
				50% / 18px 18px no-repeat,
			radial-gradient(var(--color-0) 40%, #0000 40.1%) 33.3% 50% / 18px
				18px no-repeat,
			linear-gradient(90deg, hsl(0, 0%, 71.5%), #0f0 33.3%) 0 0 / 100% 50%
				no-repeat,
			linear-gradient(
					90deg,
					hsl(0, 0%, 9%),
					hsl(0, 100%, 21.1%),
					#f00 33.3%
				)
				0 100% / 100% 50% no-repeat;
	}

	#tweak-sepia {
		--track-bg: radial-gradient(var(--background-0) 30%, #0000 30.1%) 0% 50% /
				18px 18px no-repeat,
			radial-gradient(var(--color-0) 40%, #0000 40.1%) 0% 50% / 18px 18px
				no-repeat,
			linear-gradient(90deg, #ff0, #ffffce) 0 0 / 100% 50% no-repeat,
			linear-gradient(90deg, #00f, #302b21) 0 100% / 100% 50% no-repeat;
	}

	/* Checkboxes */
	/* Ripped from Form.astro */
	/* TODO yhhhh stuff with form.astro i guess */
	input[type="checkbox"] {
		padding: 0 10px;
		margin: 2px 12px 0 0;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 10px;
		font-family: var(--content-font);
		color: var(--color-0);
		outline: 1px solid #7770;
		border-radius: 3px;
		appearance: none;
		position: relative;
		background: var(--background-3);
	}
	input[type="checkbox"]:is(:hover, :focus) {
		outline: none;
	}
	input[type="checkbox"]:is(:hover, :focus-visible) {
		background: var(--background-active-5);
		transition: background 0.3s;
	}
	input[type="checkbox"]:before {
		content: "";
		position: absolute;
		top: 2px;
		left: 2px;
		bottom: 2px;
		right: 2px;
		background: #000;
		border-radius: 2px;
		box-shadow: inset 0px 0 5px #0007;
		transition: background 0.3s;
		opacity: 0.25;
	}
	input[type="checkbox"]:checked:before {
		background: var(--background-active-0);
	}
	input[type="checkbox"]:checked:after {
		content: "✓";
		color: var(--color-active-0);
		font-size: 200%;
		position: absolute;
		left: 2px;
		bottom: 0px;
	}
	/* input[type="checkbox"] + label {
		appearance: none;
		position: relative;
		margin-block: 6px;
	} */
</style>
