<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IForumPost } from "~/types";
	import { formatDate } from "~/helper/format";

	export let adminOps: AdminOps;
	export let data: IForumPost;

	let isJSON = false;

	async function deletePost() {
		await post("/api/forum/deletePost", data.id);
		alert.success("Post deleted");
	}

	const emojis = ["👍", "👎", "❤", "😄", "🤔", "🎉", "😕"];
</script>

<h4>
	post <span class="unimportant tnum">{data.id}</span>
</h4>

{#if data.deleted}
	<h1>this post has been deleted.</h1>
{/if}

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
	<a class="button" href={"/forum/thread/" + data.thread} target="_blank">go to thread</a>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>author</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>body</h6>
	<pre>{data.body}</pre>
	<br />

	<h6>{data.reactions.flat().length === 0 ? "no " : ""}reactions</h6>
	<div>
		<ul>
			{#each emojis as emoji, idx}
				{#if data.reactions[idx].length > 0}
					<li>
						<span>{emoji}</span>
						<span>{data.reactions[idx].length}</span>
					</li>
				{/if}
			{/each}
		</ul>
	</div>

	<h6>{data.edits.length === 0 ? "no " : ""}edits</h6>
	<div>
		{#if data.edits.length > 0}
			<details>
				<summary>previous revisions</summary>
				{#each data.edits.reverse() as edit}
					<div>
						<span class="unimportant">
							{formatDate(new Date(edit[0].when))}
						</span>
						<pre>{edit[0].prev}</pre>
					</div>
				{/each}
			</details>
		{/if}
	</div>
	<br />
	
{/if}

<h6>actions</h6>
<div>
	<button on:click={deletePost}>delete post</button>
	<button on:click={() => adminOps.setTab("post-feed", false, data.thread)}>view thread</button>
</div>
