<script lang="ts">
	import type { CannedResponse, IGame, IUnverifiedGameData } from "~/types";
	import { alert, post } from "~/libgalaxy";
	import AdminComposer from "../AdminComposer.svelte";
	import UnverifiedChat from "~/components/UnverifiedChat.svelte";

	export let adminOps;
	export let data: { game: IGame; data: IUnverifiedGameData | undefined };

	let note = typeof data.game.verified === "string" ? data.game.verified : "";

	async function verify(status: boolean | string) {
		if (
			status === true &&
			data.data !== undefined &&
			data.data.upvotes.length < 3 &&
			!confirm(
				"This game has few upvotes. Are you _sure_ you want to verify it?"
			)
		)
			return;

		post("/api/admin/verifyStatus", { game: data.game.id, status }).then(
			() => {
				alert.success(
					status === true ? "Game verified" : "Note edited"
				);
			}
		);
	}

	async function vote(up: boolean) {
		await post("/api/admin/voteGame", { id: data.game.id, up });

		const wasUp = data.data.upvotes.includes(adminOps.self.id);
		const wasDown = data.data.downvotes.includes(adminOps.self.id);

		data.data.upvotes = data.data.upvotes.filter(
			x => x !== adminOps.self.id
		);
		data.data.downvotes = data.data.downvotes.filter(
			x => x !== adminOps.self.id
		);

		if (up && !wasUp) {
			data.data.upvotes.push(adminOps.self.id);
		} else if (!up && !wasDown) {
			data.data.downvotes.push(adminOps.self.id);
		}

		data.data = data.data;
	}

	// Collapse the object if you get tired of scrolling :3
	const CANNED_RESPONSES: CannedResponse[] = [
		{
			summary: "Rejection by vote",
			title: "Your submission $name has not been accepted",
			body: `Hello! Thanks for taking the time to submit your game.

Unfortunately, we have deemed it to be of not high enough quality for the site, and as a result, we have not accepted it.

We strongly encourage you to keep developing your skills and to submit your future work once you think you've improved enough.

For more information on how game verification works, you can read [this forum thread](https://galaxy.click/forum/thread/185).`,
		},
		{
			summary: "Rejection by vote--game too short",
			title: "Your submission $name has not been accepted",
			body: `Hello! Thanks for taking the time to submit your game.

Unfortunately, it does not meet the minimum content requirements to be accepted onto galaxy. <SPECIFIC FEEDBACK>. Once you add more content you may resubmit your game to galaxy.`,
		},
		{
			summary: "Tried to submit someone else's game",
			title: "Please only submit your games",
			body: `Hello,

Thank you for taking the time to submit a game to galaxy. However, you can only submit games that you are the main developer of.

If you have asked a developer about posting their games on galaxy, and they have agreed, emphasize to them that they should submit the game themselves.
If they are still fine with the idea of their game going on galaxy, and don't want to post it themselves, send a PM to \`yhvr\` and he will post the game using the official galaxy account.

Repeated abuse of the game submission form will result in a site mute or ban.`,
		},
	];
</script>

<h4>
	verification <span class="unimportant tnum">{data.game.id}</span>
</h4>

<h6>notes</h6>
<textarea bind:value={note} class="input"></textarea>
<div>
	<button on:click={() => verify(note || false)}>edit note</button>
</div>
<br />

<h6>staff votes</h6>
{#if data.data !== undefined}
	<div>
		upvotes:
		<ul>
			{#each data.data.upvotes as id}
				<li>{adminOps.getUser(id).name}</li>
			{/each}
		</ul>
		downvotes:
		<ul>
			{#each data.data.downvotes as id}
				<li>{adminOps.getUser(id).name}</li>
			{/each}
		</ul>
	</div>
{:else}
	<div>
		<i>this game is too old for votes thru the admin panel</i>
	</div>
{/if}
<br />

<h6>actions</h6>
<div>
	{#if data.data !== undefined}
		<button on:click={() => vote(true)}>
			vote <span class="bool-true">up</span>
		</button>
		<button on:click={() => vote(false)}>
			vote <span class="bool-false">down</span>
		</button>
		<button on:click={() => verify(true)}
			>verify game{data.data.upvotes.length > 3 ? " ❗" : ""}</button
		>
	{:else}
		<button on:click={() => verify(true)}>verify game</button>
	{/if}
</div>
<br />

<h6>investigate</h6>
<div>
	<button on:click={() => adminOps.addModal("game", data.game)}>
		open game in modal
	</button>
</div>
<br />

<AdminComposer
	cannedResponses={CANNED_RESPONSES}
	recipient={adminOps.getUser(data.game.author)}
	templates={{ name: data.game.name }}
/>
<br />

<h6>unverified chat</h6>
<div>
	<details>
		<summary>view conversation</summary>
		<UnverifiedChat id={data.game.id} mode="staff" />
	</details>
</div>

<style>
	.input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		background: var(--background-1);
	}
	.tnum {
		font-variant-numeric: tabular-nums;
	}
</style>
