---
import type { FrontendForumPost, IGame } from "~/types";
import { ForumCategory } from "~/models/forumcategory";
import { ForumPost } from "~/models/forumpost";
import { ForumThread } from "~/models/forumthread";
import { Game } from "~/models/game";
import Layout from "~/layouts/Layout.astro";
import Pagination from "~/components/Pagination.svelte";
import ThreadReader from "~/components/forum/ThreadReader.svelte";
import { User } from "~/models/user";
import { astroUnder13 } from "~/helper/coppa";
import { forumModeratorLevel } from "~/helper/forum";

if (astroUnder13(Astro)) return Astro.redirect("/");

const currentPage = parseInt(Astro.url.searchParams.get("page")) || 1;

const thread = await ForumThread.findOne({
	id: parseInt(Astro.params.threadId),
	deleted: false,
});

if (thread === null) return new Response(null, { status: 404 });

const { user, loggedIn, needsVerification } = Astro.locals.auth;

const category = await ForumCategory.findOne({ id: thread.category });

const { docs: posts, totalPages } = await ForumPost.paginate(
	{
		thread: thread.id,
		// deleted: false,
	},
	{
		sort: { when: 1 },
		page: currentPage,
		limit: 100,
		lean: true,
		leanWithId: false,
	}
);

const authorIDsArray = [];
posts.forEach(post => {
	// eslint-disable-next-line
	// @ts-ignore
	if (!authorIDsArray.includes(post.author))
		// eslint-disable-next-line
		// @ts-ignore
		authorIDsArray.push(post.author);
});

const sanePosts: FrontendForumPost[] = posts.map(post => {
	// eslint-disable-next-line
	// @ts-ignore
	post.selfReactions = [];
	post.reactions.forEach((r, e) => {
		if (loggedIn && r.includes(user.id))
			// eslint-disable-next-line
			// @ts-ignore
			post.selfReactions.push(e);
	});
	// eslint-disable-next-line
	// @ts-ignore
	post.reactions = post.reactionCounts;
	delete post.reactionCounts;

	// eslint-disable-next-line
	// @ts-ignore
	if (post.deleted === true) {
		post.body = "";
		post.edits = [];
	}

	// eslint-disable-next-line
	// @ts-ignore
	return post as FrontendForumPost;
});

let solution: FrontendForumPost | null = null;
if (
	thread.solution !== false &&
	!sanePosts.some(post => post.id === thread.solution)
) {
	// eslint-disable-next-line
	const p: any = await ForumPost.findOne({
		thread: thread.id,
		id: thread.solution,
	}).lean();
	delete p.reactionCounts;
	p.reactions = [];
	p.selfReactions = [];

	if (!authorIDsArray.includes(p.author)) authorIDsArray.push(p.author);

	solution = p as FrontendForumPost;
} else if (thread.solution !== false)
	solution = sanePosts.find(post => post.id === thread.solution);

const authorsArray = await User.find({ id: { $in: authorIDsArray } });
const authors = {};
authorsArray.forEach(author => {
	authors[author.id] = author.toJSON();
});

const modLevel = await forumModeratorLevel(user, category);

let linkedGame: IGame | null = null;
if (typeof thread.linkedGame === "number") {
	linkedGame = await Game.findOne({ id: thread.linkedGame }).lean();
}
---

<Layout
	title={`${thread.name} - galaxy forums`}
	user={{ user, loggedIn, needsVerification }}
>
	<main id="main">
		<ThreadReader
			posts={sanePosts}
			thread={thread.toObject()}
			category={category.toObject()}
			users={authors}
			user={user?.toObject() ?? null}
			level={modLevel}
			solution={solution}
			linkedGame={linkedGame}
			page={currentPage}
			client:load
		/>
		<Pagination
			pages={totalPages}
			currentPage={currentPage}
			client:only="svelte"
		/>
	</main>
</Layout>
