<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IGame } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IGame[] = [];
	let page = 1;
	let pageCount = 1;
	let isReady = false;

	async function loadData() {
		const res = await post("/api/admin/query/gameFeed", { page });
		console.log(res);

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<strong>games</strong>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				id: x.id,
				author: adminOps.getUser(x.author),
				name: (() => {
					let str = String(x.name);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				link: (() => {
					let str = String(x.link);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				description: (() => {
					let str = String(x.description);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
			}))}
			schema={{
				id: { name: "id", type: "tnum" },
				author: { name: "author", type: "user" },
				name: { name: "name" },
				link: { name: "link" },
				description: { name: "description" },
			}}
			onitemclick={x =>
				adminOps.addModal(
					"game",
					data.find(y => y.id == x.id)
				)}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
