<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import type { IReport } from "~/types";
	import { json } from "~/libgalaxy";
	// import GameCard from "../../GameCard.svelte";
	// import UserSearchWidget from "../../UserSearchWidget.svelte";
	import TablePanel from "./TablePanel.svelte";
	import { formatDate } from "~/helper/format";

	export let adminOps;

	let data: IReport[] = [];
	let isReady = false;

	function addDisclaimer(data: object) {
		return { ...data, isHistorical: true };
	}

	function openReportModals(x: { id: string }) {
		const report = data.find((_, i) => i + "" == x.id);
		adminOps.addModal("report", report);
		adminOps.addModal(report.type, addDisclaimer(report.data));
	}

	async function loadData() {
		const res = await json("/api/report/all");
		console.log(res);
		data = res.data;
		isReady = true;
	}

	loadData();
</script>

<TablePanel>
	<strong>reports</strong>
	{#if isReady}
		<DataTable
			data={data.map((x, i) => ({
				id: i,
				reporter: adminOps.getUser(x.author),
				reportee: x.type,
				author:
					x.type == "user"
						? adminOps.getUser(x.data.id)
						: x.data.author != null
							? adminOps.getUser(x.data.author)
							: x.data.from != null
								? adminOps.getUser(x.data.from)
								: "none",
				body: (() => {
					let str = String(
						x.type == "user"
							? "/"
							: x.data.name ??
									x.data.title ??
									x.data.body ??
									x.data.content
					);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				createdAt: formatDate(new Date(x.createdAt)),
				reason: x.part + " | " + x.reason,
			}))}
			schema={{
				reporter: { name: "reporter", type: "user" },
				reportee: { name: "item" },
				body: { name: "title/body" },
				author: { name: "user/author", type: "user" },
				createdAt: { name: "reported on" },
				reason: { name: "where | reason" },
			}}
			onitemclick={openReportModals}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
