---
import AdminPanel from "~/components/AdminPanel.svelte";
import ErrorResponse from "~/components/ErrorResponse.astro";
import Layout from "~/layouts/Layout.astro";
import { hasStaffPerm } from "~/helper/adminHelper";

const { user, loggedIn } = Astro.locals.auth;

let err = false;
if (!loggedIn || !hasStaffPerm(user.modLevel, "any")) err = true;

const name = user?.name ?? "anon";
---

<Layout title="admin panel - galaxy" showFooter={false}>
	{
		err ? (
			<main id="main">
				<ErrorResponse
					status={401}
					title={[
						"nice try",
						"shh, it's a secret",
						"c'mon, really?",
						"this isn't the page you're looking for",
						"identity theft is not a joke",
						"how did you get here anyways",
						"access denied",
						"unauthorized",
						`${name} is not in the sudoers file`,
						`[sudo] password for ${name}: | Sorry, try again.`,
					]}
				>
					You don't have sufficient permissions to be here. Sorry.
					<br />
				</ErrorResponse>
			</main>
		) : (
			<main>
				<AdminPanel self={user.toObject()} client:only />
			</main>
		)
	}
</Layout>
