---
import AF2024 from "~/components/af2024/Index.svelte";
import { AF2024Participant } from "~/models/af2024participant";
import Layout from "~/layouts/Layout.astro";
import { keyv } from "~/models/keyv";

const number = await keyv.get("af2024", 0);
const selfClicks = Astro.locals.auth.loggedIn
	? (await AF2024Participant.findOne({ user: Astro.locals.auth.user.id }))
			?.clicks ?? 0
	: 0;
---

<Layout title="counter - galaxy">
	<main id="main">
		<AF2024
			client:only="svelte"
			themeCookie={Astro.cookies.get("theme")?.value ?? "auto"}
			{number}
			{selfClicks}
		/>
	</main>
</Layout>
