---
import Icon from "@iconify/svelte";
import { formatPlaytime } from "~/helper/format";
import { getLevel, getXP, getXPToNextLevel } from "~/helper/leveling";
import Layout from "~/layouts/Layout.astro";

const { user, loggedIn, needsVerification } = Astro.locals.auth;
if (!loggedIn && !needsVerification) return Astro.redirect("/");

const xp = getXP(user);
const level = getLevel(xp);
const xpToCurrent = getXPToNextLevel(level - 1);
const xpToNext = getXPToNextLevel(level);
---

<Layout title="level hub - galaxy" user={{ user, loggedIn, needsVerification }}>
	<canvas id="level-canvas" />
	<main id="main">
		<div id="level-container">
			<div id="level">
				<span class="small">your level is</span>
				<Icon icon="tabler:galaxy" inline client:load
				/><span class="target">{level.toLocaleString("en-US")}</span>
			</div>
			<div id="progress">
				(<span class="target">{(xp - xpToCurrent).toLocaleString("en-US")}</span>
				/ {(xpToNext - xpToCurrent).toLocaleString("en-US")} xp to next level)
			</div>
			<div id="xp">
				<Icon icon="mdi:octagram-outline" inline client:load
				/><span class="target">{xp.toLocaleString("en-US")}</span>
				<span class="small">lifetime total xp</span>
			</div>
		</div>
		<div style="height: 100vh">

		</div>
		<div class="container" style="max-width: 500px; margin-inline: auto">
			<h2>breakdown table</h2><hr />
			<table id="breakdown-table">
				<tbody>
					<tr>
						<th scope="row">from playtime</th>
						<td>{formatPlaytime(user.playMinutes)}</td>
						<td><Icon icon="mdi:arrow-right" inline client:load/></td>
						<td class="result">{user.playMinutes.toLocaleString("en-US")} xp</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th scope="row" colspan={3}>total</th>
						<td class="result"><b>{xp.toLocaleString("en-US")}</b> xp</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</main>
</Layout>

<script define:vars={{ xp }}>
	function getXPToNextLevel(level) {
		return 80 * level + 20 * level * level;
	}

	function getLevel(totalXP) {
		return Math.floor((-80 + Math.sqrt(6400 + 80 * totalXP)) / 40) + 1;
	}


	let canvas, c;

	let time = 0;
	let start;

	const lastLevel = 1;

	const levelText = document.querySelector("#level .target");
	const xpText = document.querySelector("#xp .target");
	const xpProgressText = document.querySelector("#progress .target");
	
	const level = getLevel(xp);
	const xpToCurrent = getXPToNextLevel(level - 1);
	const xpToNext = getXPToNextLevel(level);

	const prngSeed = Math.random() * 3600;

	function animator(timestamp) {
		if (!canvas) {
			canvas = document.querySelector("#level-canvas");
			c = canvas.getContext("2d");
		}
		if (!canvas) {
			requestAnimationFrame(animator);
			return;
		}
		const delta = timestamp - start || 0;
		start = timestamp;

		time = Math.min(time + delta / 4000, 1);
		const lerp1 = (1 - (1 - time) ** 2);
		const lerp2 = (1 - Math.max(1 - time * 1.5, 0) ** 3);
		const lerp3 = (1 - (1 - time) ** 3);

		const levelLerp = level * lerp3;

		const xpLerp = xp - Math.min(xp - xpToCurrent, xp ** 0.5 * 2) * (1 - lerp1);
		const progress = (xpLerp - xpToCurrent) / (xpToNext - xpToCurrent);
		const xpLerp2 = xp - Math.min(xp - xpToCurrent, xp ** 0.5, 100) * (1 - lerp3);
		const progress2 = (xpLerp2 - xpToCurrent) / (xpToNext - xpToCurrent);
		const xpLerp3 = xp - Math.min(xp - xpToCurrent, 140) * (1 - lerp3);

		xpText.textContent = Math.floor(xpLerp2).toLocaleString("en-US");
		xpProgressText.textContent = Math.floor(xpLerp2 - xpToCurrent).toLocaleString("en-US");
		levelText.textContent = Math.ceil(levelLerp).toLocaleString("en-US");

		const width = canvas.width = Math.floor(canvas.clientWidth * window.devicePixelRatio);
		const height = canvas.height = Math.floor(canvas.clientHeight * window.devicePixelRatio);
		const scale = Math.min(width, height) / 200;

		const computed = getComputedStyle(canvas);
		const color0 = computed.getPropertyValue("--color-0");
		const color1 = computed.getPropertyValue("--color-1");

		const scroll = window.scrollY * window.devicePixelRatio;

		c.strokeStyle = color0;
		
		for (let a = Math.ceil(levelLerp) - 1; a > 0; a--) {
			let factor = 1 / Math.max(1 + (levelLerp - a) / (5 + 2 / lerp1), 0);
			c.globalAlpha = Math.min(Math.max((0.8 ** (levelLerp - a)) * (Math.sin(Date.now() / 500 + a / 2) * .4 + .8), 0), 1);
			c.lineWidth = scale * 0.25 * lerp1 * factor;
			c.beginPath();
			let ofsX = 0, ofsY = 0;
			if (a > 15) {
				ofsX = Math.cos(a * 2) * scale * (a - 15) ** 0.25 * Math.log2(levelLerp - a + 1);
				ofsY = Math.sin(a * 2) * scale * (a - 15) ** 0.25 * Math.log2(levelLerp - a + 1);
			}
			c.arc(
				width / 2 + ofsX, height / 2 + ofsY - scroll * 0.5 * factor, 
				75 * scale * lerp2 * factor, 0, Math.PI * 2
			);
			c.stroke();
			if (factor < 0.002) break;
		}
		c.globalAlpha = 1;
		c.lineWidth = scale * 0.75 * lerp1;

		c.beginPath();
		c.arc(
			width / 2, height / 2 - scroll * 0.5, 
			75 * scale * lerp2, Math.PI * -0.5, Math.PI * (2 * progress - 0.5)
		);
		c.stroke();

		let colorGradient = c.createRadialGradient(
			width / 2, height / 2 - scroll * 0.5, 50 * scale * lerp3, 
			width / 2, height / 2 - scroll * 0.5, (60 * lerp3 + 40) * scale
		);
		colorGradient.addColorStop(0, "transparent");
		colorGradient.addColorStop(1, color1);
		c.fillStyle = colorGradient;
		c.lineTo(width / 2, height / 2 - scroll * 0.5);
		c.fill();

		c.globalAlpha /= 2;
		c.lineWidth /= 3;
		c.beginPath();
		c.arc(
			width / 2, height / 2 - scroll * 0.5, 
			75 * scale * lerp2, Math.PI * -0.5, Math.PI * 2
		);
		c.stroke();

		c.lineWidth = scale * 0.15 * lerp1;
		c.fillStyle = color1;

		const circles = xpToNext - xpToCurrent;
		const radius = 80 * scale / lerp2;
		const alphaFactor = 100 ** lerp2;

		const density = Math.min(circles, 140);
		const offset = Math.max(Math.max(circles - density, 0) * progress2, xpLerp2 - xpToCurrent - density + 1);

		for (i = Math.floor(offset), x = 0; x <= density + Math.min(xp - xpLerp2, 200); i++, x++) {
			const filled = xp - xpToCurrent > i;

			let thisScale = scale;
			let angle = (i - offset) / density;
			c.globalAlpha = Math.sin(Date.now() / 500 + i / 10) ** 2 * .4 + .6;
			if (x == 0) {
				thisScale *= 1 - (offset % 1) * 2.2;
				c.globalAlpha *= 1 - (offset % 1) * 2.2;
				if (thisScale <= 0) continue;
			}
			if (!filled && x >= density - 1) {
				let factor = Math.max(Math.min((offset - i + density) * 2.2 - 0.1, 1), 0);
				if (factor <= 0) break;
				c.globalAlpha *= factor;
				thisScale *= factor;
				angle -= (1 - factor) / 2 / density;
			}

			let scatterFactor = Math.max(i - xpLerp3 + xpToCurrent, 0) ** 2;

			let xPos = width / 2 + Math.sin(Math.max(Math.PI * 2 * angle, 0)) * radius;
			let yPos = height / 2 - Math.cos(Math.max(Math.PI * 2 * angle, 0)) * radius;
			
			if (filled) {
				if (xpLerp3 - xpToCurrent < i) {
					c.beginPath();
					c.arc(
						xPos, yPos - scroll * 0.51, 
						1.5 * scale, 0, Math.PI * 2
					);
					c.stroke();
				}
				const rng = (i + prngSeed) ** 2 * 1013904223;
				xPos += Math.cos(rng) * scale * 0.1 * scatterFactor;
				yPos += Math.sin(rng) * scale * 0.1 * scatterFactor;
			} else {
				scatterFactor = 0;
			}
			c.beginPath();
			c.arc(
				xPos, yPos - scroll * 0.51 * (1 + scatterFactor * 0.001), 
				1.5 * thisScale * (1 + scatterFactor * 0.001) / lerp2, 0, Math.PI * 2
			);
			if (filled) c.fill();
			c.stroke();
			if (xp - xpToCurrent == i) {
				let t = Date.now() / 2000 % 1;
				c.globalAlpha *= 1 - t;
				c.beginPath();
				c.arc(
					xPos, yPos - scroll * 0.51, 
					(1.5 + t * 1.5) * scale / lerp2, 0, Math.PI * 2
				);
				c.stroke();
				c.stroke();
			}
			if (scatterFactor * scale * 0.001 > Math.max(window.innerWidth, window.innerHeight)) break;
		}

		requestAnimationFrame(animator);
	}

	function animatorSkip() {
		time = 1;
	}

	setTimeout(() => {
		requestAnimationFrame(animator);
		document.getElementById("level-container").classList.add("is-appearing");
	}, 500);
	document.body.addEventListener("pointerdown", animatorSkip);
</script>
<style>
	hr {
		border: none;
		border-bottom: 2px solid var(--color-0);
	}

	#level-canvas {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	#level-container {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;

		opacity: 0;
		transition: opacity 2s;
	}

	#level-container.is-appearing {
		opacity: 1;
	}


	#level {
		font-family: var(--content-font);
		font-variant-numeric: tabular-nums;
		font-size: min(16vh, 16vw);
		font-weight: 900;
		line-height: 1.1;
	}
	#xp {
		font-family: var(--content-font);
		font-variant-numeric: tabular-nums;
		font-size: min(6vh, 6vw);
		font-weight: 200;
		letter-spacing: -0.08em;
		line-height: 1.2;
	}
	#progress {
		display: inline-block;
		margin-block: -2px 40px;
	}

	#level br, #xp br {
		font-size: 0;
	}

	#level .small, #xp .small {
		display: block;
		font-family: var(--header-font);
		font-weight: 700;
		font-size: 1rem;
		letter-spacing: 0;
	}
	

	#level-xp-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: min(95vh, 95vw);
	}

	#breakdown-table {
		width: 100%;
		border-spacing: 0;
		text-align: right;
	}

	#breakdown-table th {
		text-align: left;
		width: 99%;
	}

	#breakdown-table td {
		white-space: nowrap;
	}

	#breakdown-table :is(th, td) {
		text-align: left;
		padding: 4px;
	}

	#breakdown-table .result {
		text-align: right;
		font-variant-numeric: tabular-nums;
	}
	#breakdown-table tfoot :is(th, td) {
		border-top: 1px dashed var(--color-3);
	}
</style>
