---
import Form from "~/components/Form.astro";
import GameDescriptionPostField from "~/components/GameDescriptionPostField.svelte";
import Layout from "~/layouts/Layout.astro";
import { astroUnder13 } from "~/helper/coppa";

const { user, loggedIn, needsVerification } = Astro.locals.auth;

if (!loggedIn || astroUnder13(Astro)) {
	return Astro.redirect("/");
}
---

<Layout title="publish - galaxy" user={{ user, loggedIn, needsVerification }}>
	<main id="main">
		<h1>post your game</h1>

		<div id="userid">{user.id}</div>

		<!-- TODO more client side form validation -->
		<div id="publish" data-action="/api/games/new">
			<Form>
				<div>
					<p>
						You need to upload your game somewhere else to begin.
						Don't know where? Try <a
							href="https://pages.github.com/">GitHub Pages</a
						>.
						<br />
						You should be able to
						<a
							href="https://iframetester.com/"
							target="_blank"
							rel="noopener noreferrer"
							>put your game in an iframe</a
						>. Otherwise, it won't work on Galaxy.
						<br />
						If you want, you can add more information, such as tags,
						after you upload.
						<br />
						<b>
							You can only upload games that you are the main
							developer of. Uploading someone else's game is a
							bannable offense!
						</b>
						<br />
						Consider reading the <a
							href="/rules#guidelines-for-posting-games"
							>short developer guidelines</a
						> before posting your game.
					</p>
				</div>
				<div data-label="game name">
					<input
						type="text"
						name="name"
						placeholder="(required)"
						required
					/>
				</div>
				<div data-label="game link">
					<input
						type="url"
						name="link"
						placeholder="(required)"
						required
					/>
				</div>
				<!-- TODO: add character counter/max length -->
				<div data-label="game description">
					<GameDescriptionPostField client:only="svelte" />
				</div>
				<hr />
				<div data-label="validity">
					<input type="checkbox" name="owner" />
					<label for="owner"><span>
						I am the owner / main developer of this game
					</span></label>
				</div>
				<hr />
				<div data-label="let's go">
					<button id="enter-button" type="submit" role="button"
						>publish game
					</button>
				</div>
				<div>
					<p>
						Your game will not be playable until it is verified by
						our staff. In most cases, game verification can take up
						to several days&mdash;we apologize for the delays.
					</p>
				</div>
				<div>
					<small>
						Your game will be assigned a temporary ID on galaxy
						during this verification process. Only you and galaxy
						staff will be able to access the game this way and its
						ID will be changed after the game is verified.
					</small>
				</div>
				<div id="scratch-warning">
					<p>
						Due to a high amount of low-quality submissions, games
						made in Scratch are not being accepted at the moment.
						Please check back later.
					</p>
				</div>
			</Form>
		</div>
	</main>
</Layout>
<script>
	import { alert, form } from "~/libgalaxy";

	// This script is fucked up bruh
	document.querySelector<HTMLInputElement>("[name='owner']").checked = false;

	form("publish", ["name", "link", "description", "owner"], res => {
		if (res.id) {
			alert.success("Game published!");

			window.location.pathname = `/edit/${res.id}`;
		}
	});

	document
		.querySelector<HTMLInputElement>('input[name="link"]')
		.addEventListener("input", e => {
			const url = (e.target as HTMLInputElement).value;
			document.getElementById("scratch-warning").style.display =
				url.startsWith("https://scratch.mit.edu/") ||
				url.startsWith("https://turbowarp.org/")
					? "flex"
					: "none";
			(
				document.getElementById("enter-button") as HTMLButtonElement
			).disabled =
				url.startsWith("https://scratch.mit.edu/") ||
				url.startsWith("https://turbowarp.org/");
			if (
				url.match(
					/^https:\/\/(scratch\.mit\.edu\/projects|turbowarp\.org)\/\d+\/$/
				)
			)
				(e.target as HTMLInputElement).value += "embed";
		});
</script>

<style>
	.desc {
		width: min(500px, 100%);
		height: 150px;
	}

	#userid {
		display: none;
	}

	textarea {
		margin-top: 4px;
	}

	#scratch-warning {
		display: none;
		color: var(--color-red-1);
	}
</style>
