<script lang="ts">
	import type { ICategoryModerator, IForumCategory, IUser } from "~/types";
	import { alert, post } from "~/libgalaxy";
	import CategoryCard from "./CategoryCard.svelte";
	import Icon from "@iconify/svelte";
	import UserChip from "../UserChip.svelte";
	import UserSearchWidget from "../UserSearchWidget.svelte";

	export let category: IForumCategory;
	export let user: IUser;
	export let level: number;
	export let mods: ICategoryModerator[];
	export let users: Map<number, IUser>;

	let userFound = false;
	let promotedUser: IUser;
	let foundRole = 0;
	let settingRole = 0;

	const colors = [
		"default",
		"red",
		"orange",
		"yellow",
		"green",
		"teal",
		"blue",
		"purple",
	];
	const roles = ["user", "moderator", "admin", "owner", "site staff"];

	function cycleColor() {
		const i = colors.indexOf(category.color);
		if (i === colors.length - 1) category.color = colors[0];
		else category.color = colors[i + 1];
	}

	async function save() {
		const out = await post("/api/forum/editCategory", {
			...category,
			category: category.id,
		});

		if (out.message === "ok") alert.success("Category updated");
	}

	function updateFoundRole() {
		foundRole =
			mods.find(({ user }) => user === promotedUser?.id)?.perms ?? 0;
		settingRole = foundRole;
	}

	async function promoteUser() {
		const res = await post("/api/forum/manageStaff", {
			category: category.id,
			user: promotedUser.id,
			newLevel: settingRole,
		});
		// TODO wow i really don't need to reload for this
		if (res.message === "ok") window.location.reload();
	}
</script>

<div>
	<h1>editing #{category.slug}</h1>

	<a href="/forum/category/{category.slug}" class="button">
		back to category
	</a>

	<CategoryCard
		{category}
		{user}
		thread={{ id: 0, name: "this thread doesn't exist" }}
	/>

	<h2>category appearance</h2>
	<div class="container">
		<span class="name">locked:</span>
		<input type="checkbox" bind:checked={category.locked} />
		<br />
		<span class="name">
			<Icon icon={category.icon} />
			<a href="https://icon-sets.iconify.design/" target="_blank">
				icon:
			</a>
		</span>
		<input type="text" bind:value={category.icon} />
		<br />
		<span class="name">color:</span>
		<button on:click={cycleColor}>{category.color}</button>
		<br />
		<span class="name">name:</span>
		<input type="text" bind:value={category.name} />
		<br />
		<span class="name">description:</span>
		<input type="text" bind:value={category.description} />
		<br />
		<button on:click={save}>save</button>
	</div>

	<br /><br />

	<h2>moderators</h2>

	<div class="container">
		your role in this category: <b>{roles[level]}</b>
		<ul>
			{#each mods as mod}
				<li>
					<UserChip user={users[mod.user]} small />
					({roles[mod.perms]} of {mod.category === category.id
						? "this category"
						: "a parent category"})
				</li>
			{/each}
		</ul>
	</div>

	{#if level >= 2}
		<h2>promote/demote users</h2>

		<div class="container">
			<div style="max-width: 240px">
				<UserSearchWidget
					showTabs
					bind:found={userFound}
					bind:data={promotedUser}
					on:found={updateFoundRole}
				/>
			</div>

			{#if userFound}
				<div>
					this user is currently a
					<b>{roles[foundRole]}</b>
					<br />
					{#if foundRole >= level}
						you can not edit their permissions because they do not
						have a lesser role.
					{:else}
						change to: <select bind:value={settingRole}>
							<option value={0}>user</option>
							<option value={1}>moderator</option>
							{#if level >= 3}
								<option value={2}>admin</option>
							{/if}{#if level >= 4}
								<option value={3}>owner</option>
							{/if}
						</select>
						<button on:click={promoteUser}>update</button>
					{/if}
				</div>
			{/if}
		</div>
	{/if}
</div>

<style>
	input[type="text"] {
		margin: 2px;
	}

	.name {
		width: 100px;
		display: inline-block;
		text-align: right;
	}
</style>
