---
import { ChatMessage } from "~/models/chatmessage";
import { Comment } from "~/models/comment";
import { Favorite } from "~/models/favorite";
import Form from "~/components/Form.astro";
import { ForumPost } from "~/models/forumpost";
import { ForumThread } from "~/models/forumthread";
import { Game } from "~/models/game";
import { GameSave } from "~/models/gamesave";
import Layout from "~/layouts/Layout.astro";
import { PlaySession } from "~/models/playsession";
import { Playtime } from "~/models/playtime";
import { Rating } from "~/models/rating";
import { User } from "~/models/user";
import { UserAuth } from "~/models/userauth";
import { UserParent } from "~/models/userparent";

const code = Astro.url.searchParams.get("code");
const action = Astro.url.searchParams.get("action");

// 0: Code not found
// 1: Accepted account creation
// 2: Rejected account creation
// 3: Deleted account, after being accepted
// 4: Something bad happened
let outcome: 0 | 1 | 2 | 3 | 4 = 0;

const parentDoc = await UserParent.findOne({ parentCode: code });

if (parentDoc !== null) {
	const [child, childAuth] = await Promise.all([
		User.findOne({ id: parentDoc.user }),
		UserAuth.findOne({ id: parentDoc.user }),
	]);

	if (action === "1") {
		if (childAuth.parentState === 2) outcome = 3;
		else outcome = 2;

		// Not as much needs to be deleted for minors
		// TODO have a single helper function for deleting accounts
		// (merge with permanentDeletion API endpoint)
		const ghostID =
			Math.floor(
				Math.random() * (Number.MAX_SAFE_INTEGER - 1000000) * -1
			) - 1000000;
		await Playtime.updateMany({ user: child.id }, { user: ghostID });
		await PlaySession.updateMany({ user: child.id }, { user: ghostID });

		await GameSave.deleteMany({ user: child.id });
		await ChatMessage.deleteMany({ user: child.id });
		await Comment.deleteMany({ author: child.id });
		await ForumThread.deleteMany({ author: child.id });
		await ForumPost.deleteMany({ author: child.id });
		await Rating.deleteMany({ author: child.id });
		const faves = await Favorite.find({ user: child.id });
		const favesIds = faves.map(fave => fave.game);
		await Game.updateMany(
			{ id: { $in: favesIds } },
			{ $inc: { favorites: -1 } }
		);
		await Favorite.deleteMany({ user: child.id });

		await Promise.all([
			child.deleteOne(),
			childAuth.deleteOne(),
			parentDoc.deleteOne(),
		]);
	} else if (action === "2") {
		childAuth.parentState = 2;
		delete childAuth.minorNukeAccount;
		await childAuth.save();
		parentDoc.reminderTimestamp = Date.now() + 1000 * 60 * 60 * 24;
		await parentDoc.save();
		outcome = 1;
	} else {
		outcome = 4;
	}
}
---

<Layout title="parental consent - galaxy">
	<main id="main">
		<h1>parental consent</h1>
		<Form>
			{
				outcome === 0 && (
					<p>
						We couldn't find an account associated with that
						verification code. If it's been thirty-one days, your
						child's account has been deleted to comply with COPPA.
						<br />
						<br />
						For support, email {"support [at] galaxy [dot] click"}.
					</p>
				)
			}
			{
				outcome === 1 && (
					<p>
						Your child has been granted access to galaxy.click!
						We'll send you a follow-up email in 24 hours to remind
						you of this action, and then you won't hear from us
						again.
					</p>
				)
			}
			{
				(outcome === 2 || outcome === 3) && (
					<p>
						We've deleted all data associated with your child and
						you. No further action is needed.
					</p>
				)
			}
			{
				outcome === 4 && (
					<p>
						Something went wrong in the verification proccess. We're
						so sorry!
						<br />
						<br />
						For support, email {"support [at] galaxy [dot] click"}.
					</p>
				)
			}
		</Form>
	</main>
</Layout>
