<script lang="ts">
	import type { ICategoryModerator, IForumCategory } from "~/types";
	import { post } from "~/libgalaxy";

	export let linkedCategory: IForumCategory[];
	export let moddedCategories: ICategoryModerator[];
	export let categoryData: { [id: number]: IForumCategory };
	export let gameId: number;

	// we know it's number but TS casting is fuck
	async function link(id: number | false) {
		const { message } = await post("/api/forum/linkGame", {
			category: id,
			game: gameId,
		});
		if (message === "ok") {
			linkedCategory.push(categoryData[id as number]);
			linkedCategory = linkedCategory;
		}
	}
</script>

<h2>forum linking</h2>
{#if linkedCategory.length >= 1}
	<div>
		<div>
			your game is already linked to
			<a href="/forum/category/{linkedCategory[0].slug}"
				>{linkedCategory[0].name}</a
			>.
			<br />
			if you would like to change this, please contact site staff
		</div>
	</div>
{:else if moddedCategories.length >= 1}
	<div>
		<div>
			which category would you like to link your game to?
			<ul>
				<li>you can link your game to one category (for now)</li>
				<li>threads from that category appear on the game page</li>
			</ul>
			{#each moddedCategories as cat}
				&nbsp;<button
					on:click={() => link(categoryData[cat.category].id)}
				>
					#{categoryData[cat.category].slug}
				</button>
			{/each}
			<a class="button" href="/forum/request">request a category</a>
		</div>
	</div>
{:else}
	<div>
		<div>You are not an administrator or owner of any categories.</div>
	</div>
	<hr />
	<div>
		<a class="button" href="/forum/request">request a category</a>
	</div>
{/if}
