<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import MarkdownEditor from "../MarkdownEditor.svelte";
	import { updateChangelog } from "~/helper/markdown";

	export let id: number;

	let name: string;
	let version: string;
	let changelog: string;

	async function publishUpdate(silent = false) {
		const out = await post("/api/updates/new", {
			game: id,
			changelog: changelog,
			version: version,
			name: name,
			silent,
		});

		if (out._resCode === 201) {
			alert.success(out.message);
			name = "";
			version = "";
			changelog = "";
		}
	}
</script>

<h2>updates</h2>
<p>
	Did you just push an update to your game? Tell us about it! Updating your
	game bumps it in the "recently updated" sort. Update logs can be viewed by
	everyone.
	<br /><br />
	<b>
		Abuse of updates to keep your game at #1 can result in a ban. Please
		update silently if you've only made small changes to your game.
	</b>
</p>
<hr />
<div data-label="name">
	<input type="text" placeholder="(optional)" bind:value={name} />
</div>
<div data-label="version number">
	<input type="text" placeholder="(optional)" bind:value={version} />
</div>
<div data-label="changelog">
	<MarkdownEditor
		bind:value={changelog}
		placeholder="(markdown supported)"
		options={updateChangelog}
		maxlength={8192}
	/>
</div>
<hr />
<div>
	<button on:click={() => publishUpdate()}>update and bump</button>
	<button
		on:click={() => publishUpdate(true)}
		title="Game will not be bumped and update messages will not be sent"
	>
		update silently
	</button>
</div>
