<script lang="ts">
	import Icon from "@iconify/svelte";

	export let icon: string;
	export let stat: string | number;
	export let desc: string;

	$: trueStat =
		typeof stat === "number"
			? Math.floor(stat).toLocaleString("en-US")
			: stat;

	$: odometer = [];

	$: if (typeof stat == "number") {
		let offset = stat % 1;
		let ind = 0;
		console.log(stat);
		odometer = [];
		while (stat > 0) {
			const digit = Math.floor(stat % 10);
			stat = Math.floor(stat / 10);
			if (ind % 3 == 0 && ind != 0) odometer.unshift(",");
			odometer.unshift({ 1: digit, 2: (digit + 1) % 10, offset });
			ind++;
			if (digit != 9) offset = 0;
		}

		odometer = odometer;
	}
</script>

<div class="stat-grid-entry">
	<div class="big-stat">
		<Icon {icon} />
		<div style="flex-grow: 1" />
		<div class="odometer" aria-label={trueStat}>
			{#if odometer.length > 0}
				{#each odometer as digit}
					{#if typeof digit == "object"}
						<div
							class="odometer-digit"
							style={"--offset:" + digit.offset}
						>
							<div>{digit[1]}</div>
							<div>{digit[2]}</div>
						</div>
					{:else}
						<div class="odometer-digit">{digit}</div>
					{/if}
				{/each}
			{:else}
				<div class="odometer-digit">{trueStat}</div>
			{/if}
		</div>
	</div>
	<div class="stat-descriptor">{desc}</div>
</div>

<style>
	.stat-grid-entry {
		height: 100px;
		background: var(--background-3);
		border-radius: 10px;
		padding: 50px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.big-stat {
		font-size: 70px;
		font-variant-numeric: tabular-nums;
		margin: 0;
		display: flex;
		align-items: center;
	}

	.stat-descriptor {
		font-size: 22px;
	}

	.odometer {
		line-height: 1;
		height: 1.2em;
		flex-shrink: 0;
	}

	.odometer-digit {
		display: inline-block;
		height: 1.2em;
		line-height: 1.2em;
		overflow: hidden;
		margin-right: -0.1em;
		position: relative;
	}
	.odometer-digit::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			var(--background-3),
			transparent 10%,
			transparent 90%,
			var(--background-3)
		);
	}
	.odometer-digit > * {
		height: 100%;
		transform: translateY(calc(-100% * var(--offset)));
	}
	.stat-descriptor {
		text-align: right;
	}

	@media screen and (max-width: 600px) {
		.stat-grid-entry {
			height: 60px;
		}
		.big-stat {
			font-size: 48px;
		}
	}
</style>
