<script lang="ts">
	import { createEventDispatcher, onMount } from "svelte";
	import Icon from "@iconify/svelte";
	import type { TabList } from "~/types";

	export let title = "";
	export let tabs: TabList;
	export let activeTab = "none";
	export let form = false;

	let mobileOpen = false;
	const dispatcher = createEventDispatcher();

	function setTab(id: number, skipPush = false) {
		activeTab = tabs[id][0];
		if (!skipPush) history.pushState({ activeTab }, "", "#" + tabs[id][2]);
		// if (location)
		toggleMobile(false);

		dispatcher("tabchange", tabs[id][0])
	}

	function toggleMobile(to = true) {
		mobileOpen = to;
	}

	// set active tab from URL on load
	onMount(() => {
		const foundTab = tabs.findLastIndex(tab => "#" + tab[2] === location.hash);
		if (foundTab) setTab(foundTab)

		window.addEventListener("popstate", () => {
			console.log(location.hash);
			const tabIdx = tabs.findLastIndex(
				tab =>
					"#" + tab[2] === location.hash || tab[2] === location.hash
			);
			setTab(tabIdx, true);
		});

		window.addEventListener("hashchange", () => {
			const tabIdx = tabs.findIndex(
				tab => "#" + tab[2] === location.hash
			);
			if (tabIdx !== -1) setTab(tabIdx, true);
		});
	});
</script>

{#if title}
	<h1 class="title">
		<div class="mobile-top">
			<button on:click={() => toggleMobile()} id="mobile-title-button">
				<Icon icon="ic:baseline-arrow-back"></Icon>
			</button>
		</div>
		{title}
	</h1>
{/if}
<div>
	<div class="tm-tabs" class:mobile-open={mobileOpen}>
		<button
			class="tm-tab mobile-top"
			style="float:bottom"
			on:click={() => toggleMobile(false)}
		>
			<span class="icon">
				<Icon icon="ic:round-close" width={16} />
			</span>
			<span>close sidebar</span>
		</button>
		{#each tabs as tab, i}
			{#if typeof tab[3] === "undefined"}
				<button class="tm-tab" on:click={() => setTab(i)}>
					<span class="icon">
						<Icon icon={tab[1]} width={16} />
					</span>
					<span>
						{tab[0]}
					</span>
				</button>
			{:else if typeof tab[3] === "string"}
				<a class="tm-tab button" href={tab[3]}>
					<span class="icon">
						<Icon icon={tab[1]} width={16} />
					</span>
					<span>
						{tab[0]}
					</span>
				</a>
			{:else}
				<p>
					{#if tab[1] !== ""}
						<span class="icon">
							<Icon icon={tab[1]} width={16} />
						</span>
					{/if}
					<span>
						{tab[0]}
					</span>
				</p>
			{/if}
		{/each}
	</div>
	<div class="tm-back" on:pointerdown={() => toggleMobile(false)}></div>
	<div class="tm-body">
		{#if !title}
			<div class="flex-centerhoriz mobile-top">
				<button on:click={() => toggleMobile()}> open menu </button>
			</div>
		{/if}
		<div class="container" class:form>
			<slot />
		</div>
	</div>
</div>

<style>
	.title {
		padding: 20px var(--global-padding);
		padding-bottom: 0;
	}

	.tm-tabs {
		float: left;
		position: sticky;
		top: 58px;
		width: 250px;
		height: calc(100vh - 98px);
		padding: 10px 10px 10px var(--global-padding);
		background: var(--background-2);
		box-shadow: 0 1px 5px #0007;
		border-radius: 0 8px 8px 0;
		display: flex;
		flex-direction: column;
	}

	.tm-tabs > * {
		border: none;
		box-shadow: none;
		user-select: none;
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 4px 0 4px 24px;
		background: var(--background-2);
		color: var(--color-0);
		text-decoration: none !important;
		border-radius: 3px;
		font-size: 16px;
		line-height: 32px;
		height: 32px;
		box-sizing: border-box;
		transition:
			background 0.3s,
			color 0.3s;
	}

	.tm-tabs > :hover:not(p) {
		color: var(--color-active-0);
		background: var(--background-active-4);
	}

	.tm-tabs > p {
		color: var(--color-3);
		margin: 0;
	}

	.tm-back {
		display: none;
	}

	.icon {
		display: inline-block;
		line-height: unset;
		padding-top: 4px;
	}

	.tm-body {
		margin-right: var(--global-padding);
		padding-left: 10px;
		display: flex;
		/* margin-top: 20px; */
		height: 100%;
		flex-direction: column;
	}

	.tm-body .container {
		padding: 20px;
	}

	.mobile-top {
		display: none;
		margin-bottom: 10px;
	}

	#mobile-title-button {
		font-size: 24px;
		width: 48px;
		height: 48px;
		border-radius: 100px;
		padding: 8px;
	}

	@media screen and (max-width: 720px) {
		.tm-tabs {
			position: fixed;
			padding-top: 50px;
			padding-left: calc(var(--global-padding) + 100px);
			top: 0;
			bottom: 0;
			left: -500px;
			min-height: 100%;
			z-index: 10;
			transition: left 0.2s ease-in;
			border-radius: 0;
		}

		.tm-back {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			pointer-events: none;
			background: var(--background-0);
			transition: opacity 0.3s;
			z-index: 9;
		}

		.tm-tabs.mobile-open {
			left: -100px;
			transition: left 0.3s cubic-bezier(0, 1.25, 0.5, 1);
		}

		.tm-tabs.mobile-open + .tm-back {
			opacity: 0.5;
			pointer-events: all;
		}

		.tm-body {
			margin-left: var(--global-padding);
			padding-left: 0;
		}

		.mobile-top {
			display: flex;
		}

		h1 .mobile-top {
			display: inline-block;
		}
	}

	@media screen and (max-width: 1024px) {
		:global(:is(.form, .form > astro-island) > div) {
			padding: 0;
			flex-direction: column;
		}
		:global(:is(.form, .form > astro-island) > div[data-label]::before) {
			text-align: left;
			height: 24px;
			line-height: 24px;
		}
		:global(:is(.form, .form > astro-island) > div > input) {
			width: calc(100% - 24px);
		}
		:global(:is(.form, .form > astro-island) > div > .markdown-editor) {
			width: 100%;
		}
		:global(
				:is(.form, .form > astro-island)
					> div
					> input[type="checkbox"]
					+ label
			) {
			top: -27px;
			left: 38px;
			width: calc(100% - 38px);
			margin-bottom: -27px;
		}
	}
</style>
