<script lang="ts">
	// Pointlessly overly generalized component for tag selection

	export let descriptor: string;
	export let modes: [string, "green" | "red"][];
	export let initialSelectedTags: string[][];

	export let categories: { [category: string]: string[] };
	export let tagData: { [tag: string]: string };

	export function getTags(): string[][] {
		return tags;
	}
	// TODO svelte signals i think (see SearchWidget.svelte)
	export let onChange: (tags: string[][]) => void = () => {};

	const colorLocations: { [color: string]: number } = {};
	modes.forEach(([_label, color], idx) => {
		colorLocations[color] = idx;
	});

	let tags = structuredClone(initialSelectedTags);

	let customTag = "";
	function toggleTag(tag: string, custom: number | false = false) {
		if (custom !== false && tag.length < 2) return false;
		if (tags.length >= 30) return false;

		const tagIndex = tags.findIndex(list => list.includes(tag));

		if (custom !== false && tagIndex === -1) {
			tags[custom].push(tag);
			tags[custom] = tags[custom];
		} else if (tagIndex === modes.length - 1) {
			tags[tagIndex] = tags[tagIndex].filter(t => t !== tag);
		} else if (tagIndex >= 0) {
			tags[tagIndex] = tags[tagIndex].filter(t => t !== tag);
			tags[tagIndex + 1].push(tag);
			tags[tagIndex + 1] = tags[tagIndex + 1];
		} else {
			tags[0].push(tag);
			tags[0] = tags[0];
		}

		tags = tags;

		if (custom !== false) customTag = "";

		onChange(tags);
	}
	
	function removeTag(tag: string) {
		tags = tags.map(list => list.filter(t => t !== tag));

		onChange(tags);
	}
</script>

{#each modes as [label], idx}
	<div data-label="{label}:" class="item-list compact">
		<div>
			{#each tags[idx] as tag}
				<button
					class="tag small"
					class:custom={!tagData[tag]}
					on:click={() => removeTag(tag)}>{tag}</button
				>
			{:else}
				<span class="tag-slot">no tags</span>
			{/each}
		</div>
	</div>
{/each}

<div data-label="add tags:" class="item-list compact">
	<div class="item-list">
		{#each Object.keys(categories) as cat}
			<span>{cat}:</span>
			{#each categories[cat] as tag}
				<button
					class="tag"
					class:tag-green={tags[colorLocations.green]?.includes(tag)}
					class:tag-red={tags[colorLocations.red]?.includes(tag)}
					on:click={() => toggleTag(tag)}
					title={tagData[tag]?.replace("{0}", descriptor)}
				>
					{tag}
				</button>
			{/each}
			<br />
		{/each}
		<span>custom tag:</span>
		<input
			type="text"
			placeholder="(tag here)"
			bind:value={customTag}
			style="width:120px;"
		/>
		{#if modes.length === 1}
			<button on:click={() => toggleTag(customTag, 0)}>add tag</button>
		{:else}
			{#each modes as [label], idx}
				<button on:click={() => toggleTag(customTag, idx)}>
					add to {label}
				</button>
			{/each}
		{/if}
	</div>
</div>

<style>
	.compact {
		font-size: 12px;
	}

	.compact > div {
		min-height: 30px;
	}

	div[data-label]::before {
		padding-top: 7.5px;
	}

	.item-list {
		margin-left: 108px;
	}
	.item-list.compact {
		margin-left: 0px;
	}
	.item-list > *,
	.item-list .tag-slot {
		font-size: 12px;
	}
	.item-list > span:not(.unimportant) {
		display: inline-block;
		text-align: right;
		width: 100px;
		margin-left: -111.5px;
		margin-right: 8px;
		padding-block: 7px;
	}

	.item-list .item-list {
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
	}

	button.tag-green {
		background: var(--background-green-1);
	}

	button.tag-red {
		background: var(--background-red-1);
	}

	/* This is my punishment for @media queries not accepting CSS variables */
	@media (max-width: 1024px) {
		:global(.tm-body) .item-list {
			margin-left: 12px;
		}
		:global(.tm-body) .item-list > .item-list {
			margin-left: 24px;
		}
		:global(.tm-body) .item-list > span:not(.unimportant) {
			display: block;
			text-align: left;
			width: auto;
			margin-left: -12px;
		}
	}
	@media (max-width: 720px) {
		.item-list {
			margin-left: 12px;
		}
		.item-list > .item-list {
			margin-left: 24px;
		}
		.item-list > span:not(.unimportant) {
			display: block;
			text-align: left;
			width: auto;
			margin-left: -12px;
		}
	}
</style>
