---

---

<div id="verify-warning">
	<a href="/signedup">
		Your account needs attention before use. Click here for more info
	</a>
</div>

<style>
	#verify-warning {
		background: var(--background-red-1);
		height: 45px;
		line-height: 45px;
		text-align: center;
	}
</style>
