---
import { ForumCategory } from "~/models/forumcategory";
import Layout from "~/layouts/Layout.astro";
import ThreadCreator from "~/components/forum/ThreadCreator.svelte";

const cat = await ForumCategory.findOne({ slug: Astro.params.catId });

if (cat === undefined) return new Response(null, { status: 404 });

const { user, loggedIn, needsVerification } = Astro.locals.auth;
---

<Layout
	title="composer - galaxy forums"
	user={{ user, loggedIn, needsVerification }}
>
	<main id="main">
		<ThreadCreator
			category={cat.toObject()}
			user={user.toObject()}
			client:load
		/>
	</main>
</Layout>
